<header class="header">

  <div class="logo">
    <a routerLink="/home">
      <img src="../../../assets/imgs/WalletLogo.svg" alt="Logo" />
      MyWalletManager
    </a>
  </div>

  <nav class="nav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/transactions" routerLinkActive="active">Transações</a>
    <a routerLink="/categories" routerLinkActive="active">Categorias</a>
    <a routerLink="/users" routerLinkActive="active" *ngIf="isAdmin()">Gerenciar Usuários</a>
  </nav>

  <div class="profile">
    <div class="avatar" (click)="toggleMenu()">U</div>

    <div class="dropdown" *ngIf="menuOpen">

      <a [routerLink]="['/users/edit', getUserId()]">
        Meu Perfil
      </a>

      <button (click)="logout()">
        Sair
      </button>

    </div>

  </div>

</header>